[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
mypy = "*"
pandas = "*"
pylint = "*"
typing = "*"
pyodbc = "*"
wrapt = "*"

[requires]
python_version = "3.7"
